* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

header, footer {
background-color: #703f6c;
padding: 1px
}

.centered {

}

header .subtitle {
text-align: center;
color:#ffffff;
}

h1 {
	text-align: center;
color:#ffffff;
text-transform: uppercase;
}

ul {
	display: flex;
	flex-wrap: wrap;
}

ul li {
	width: 50%;
}

main {
max-width: 660px;
margin:auto;
}

section {

}

h2 {
	border-bottom: 1px solid black;
color:#70686f;
}

h3 {
color:#70686f;
}

p {

}

.details {

}

.object {

}

.object:after {
	content: " | ";
}

footer h2 {
border-bottom: 0px;
text-align: center;
}